.timePickerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;
}
input[type='time']::-webkit-calendar-picker-indicator {
  pointer-events: none;
  display: none;
}
.timePickerInput {
  background-color: var(--secondary-color-dark);
  padding: 10px 7px;
  border-radius: var(--border-radius-standard);
  font-size: 15px;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  width: 100px;
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
}
.startTimeInputBox {
  margin-left: 30px;
}

.endTimeInputBox {
  margin-right: 30px;
}
.timePickerInput:hover {
  cursor: text;
}
/* Disabling default webkit */
input[type='time']::-webkit-datetime-edit-hour-field:focus,
input[type='time']::-webkit-datetime-edit-minute-field:focus,
input[type='time']::-webkit-datetime-edit-second-field:focus,
input[type='time']::-webkit-datetime-edit-ampm-field:focus {
  background-color: var(--secondary-color-light);
  color: var(--text-color);
}
