
.LoginButton {
    color:#cccccc;
    /*background-color: #333842;*/
    background-color: #21252b;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 7px;
    padding-left: 7px;

    border-radius: 7px;
    border: 1px solid #646a75;
    font-size: 15px;
    outline: none;
    width: 254px;

    margin-bottom: 18px;
  }

.LoginButton:focus { 
  background-color: #333842;
}
.LoginButton:hover { 
  background-color: #333842;
}