.teeTimeSearch {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 0.72rem;
  border: 0.06rem solid var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.teeTimeSearch td {
  text-align: left;
  padding: 1rem 0.32rem 1rem 0.32rem;
  border: 3px solid var(--secondary-color-dark);
  border-width: 0.08rem 0 0.08rem 0;
}
.teeTimeSearch td:first-child {
  /* Have border on the left side too for edge */
  border-radius: 0.72rem 0 0 0.72rem;
  border-width: 0.08rem 0 0.08rem 0.08rem;
  text-align: center;
}
.teeTimeSearch td:last-child {
  /* Have border on right size for last edge */
  border-radius: 0 0.72rem 0.72rem 0;
  border-width: 0.08rem 0.08rem 0.08rem 0;
}
.searchIndicator {
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
  display: inline-block;
}
.activeSearch {
  background-color: green;
}
.inactiveSearch {
  background-color: red;
}
