.dropdownMenuExpanded {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: var(--text-color);
  list-style-type: none;
  position: absolute;
  width: 275px; /*literally cannot figure this out with 100%*/
}
.dropdownToggleBoxCollapsed {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  outline: 1px solid var(--secondary-color);
}
.dropdownExpandedState {
}
.dropdownToggleBoxCollapsed:hover {
  cursor: pointer;
}
.dropdownToggleBoxCollapsed:active {
  transition: outline-color .05s ease;
}
.dropdownContainer {
  position:relative;
  width: 275px;
}
.dropdownOption {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 9px 19px 8px rgba(26,26,26,.4)
}
.dropdownOption:hover { 
  background-color: var(--secondary-color);
  cursor: pointer;
}
.dropdownOption:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}