/*.react-datepicker {
    width: 100%;
    height:100%;
    background-color: var(--secondary-color-dark);
}
.react-datepicker__month-container {
    background-color: var(--secondary-color-dark);
    width: 100%;
    height:100%;
}
.react-datepicker__month{
    
}
.datePickerWrapperClass{
    width:100% !important;
    height:100% !important;
}
*/
#calendarDatepickerComponentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.react-datepicker {
    transform: scale(1.32);
    background-color: var(--secondary-color-dark);
    border: none;
    border-radius: .1rem !important;

}
.react-datepicker__header {
    background-color: var(--secondary-color-dark);
}
.react-datepicker__navigation{
    display: none;
}
.react-datepicker__current-month {
    color: var(--text-color);
}

.react-datepicker__day-name {
    color: var(--text-color);
}
.react-datepicker__day {
    color: var(--text-color);
}
.react-datepicker__day:hover {
    background-color: var(--secondary-color-light);
}

.react-datepicker__day--disabled {
    color: var(--secondary-color);
}
.react-datepicker__day--today{
    font-weight: normal;
}

.react-datepicker__day--selected {
    transition: background-color .1s ease;
    background-color: var(--accent-color) !important;
    color: var(--secondary-color);
    font-weight: bolder;
}