.loginField {
  background-color: var(--primary-color);

  padding: 10px 7px;

  border-radius: var(--border-radius-standard);

  font-size: 15px;
  outline: none;

  box-sizing: border-box;
  width: 250px;

  margin-bottom: 18px;
}

.loginField:hover,
.loginField:focus {
  background-color: var(--secondary-color);
}

#passwordBox,
#usernameBox {
  color: var(--text-color);
  border: 1px solid var(--secondary-color-light);
}

#loginActionButton {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
#loginActionButton:hover {
  cursor: pointer;
}
#loginActionButton.loading {
  /*This style takes precedence over the hover one*/
  background-color: var(--background-color);
}
#loginActionButton:active {
  background-color: var(--primary-color);
}

.spinner {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
