.inputField {
  background-color: rgba(255, 255, 255, 0.02);
  padding: 10px 7px;
  border-radius: 0.8rem;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  width: 250px;
  max-height: 39px;
  margin-bottom: 18px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease;
}

.inputField:hover,
.inputField:focus {
  background-color: rgba(255, 255, 255, 0.06);
}

input.inputField {
  color: var(--text-color);
  /* border: 1px solid var(--secondary-color-light); */
}

button.inputField {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
button.inputField:hover {
  cursor: pointer;
}
button.inputField.loading {
  /*This style takes precedence over the hover one*/
  background-color: rgba(255, 255, 255, 0.02);
}
button.inputField:active {
  background-color: var(--primary-color);
}

.spinner {
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
