#courseSelectionContainer{
    justify-content: center;
    width : 700px;
    margin: auto;
    display: flex;
    margin-top: 20vh;

}
#homePageContainer{
    display: flex;
    height: 100vh;
    align-items: center;
}