.navHeaderButton {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--header-background-color);
  transition: background-color 0.15s ease;
  border: none;
  border-radius: var(--border-radius-standard);
  padding: 7px 10px;
}
.navHeaderButton:hover {
  background-color: var(--secondary-color-dark);
  cursor: pointer;
}
.navHeaderButton:active {
  background-color: var(--header-background-color);
  cursor: default;
}
.labelContainer {
  display: flex;
  flex-direction: column;
  margin: 0px min(0.72vw, 20px) 0px 0px;
}
.labelContainer:last-child {
  margin-left: auto;
}
.labelContainer:last-child > :first-child {
  font-size: 20px;
  padding-bottom: 0px;
}
.currentPageUnderline {
  margin-top: 2px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--header-background-color);
  transition: background-color 0.2s ease;
}
.selectedPageUnderline {
  background-color: var(--accent-color);
}
@media (max-width: 700px) {
}
