.label {
  display: flex;
  justify-content: space-between;
}

.course-name {
  color: var(--text-color);
}

.location {
  font-size: 12px; /* Smaller font size for the location */
  text-align: right;
  margin-top: auto;
  color: #666; /* Change color as needed */
}
@media (max-width: 700px) {
  .location {
    display: none; /* Hide location on smaller screens */
  }
}
