#courseSelectionContainer {
  width: 700px;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homePageContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}
#courseDetailsContainer {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  background-color: var(--secondary-color-dark);
  margin-top: 30px;
  height: 177.5px;
  width: 100%;
}
